{% extends 'base.html' %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        {% include 'includes/alerts.html' %}
        <div class="card-body">
            <h4 class="card-title mb-4">Reset Password</h4>
            <form action="{% url 'resetPassword' %}" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Create new password" name="password"
                        id="password" oninput="clearError('passwordError')">
                    <small id="passwordError" class="text-danger"></small>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                        name="confirm_password" id="confirm_password" oninput="clearError('confirmPasswordError')">
                    <small id="confirmPasswordError" class="text-danger"></small>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script>
    function validateForm() {
        // Reset error messages
        clearError('passwordError');
        clearError('confirmPasswordError');

        // Get input values
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;

        // Regular expressions for validation
        var whitespaceRegex = /\s/;
        var dotRegex = /\./;
        var specialCharacterRegex = /[!@#$%^&*(),.?":{}|<>]/;
        var digitRegex = /\d/;
        var uppercaseRegex = /[A-Z]/;
        var lowercaseRegex = /[a-z]/;

        // Check for white spaces and dots
        if (whitespaceRegex.test(password) || dotRegex.test(password)) {
            showError('passwordError', "Password cannot contain white spaces or dots.");
            return false;
        }

        // Check for minimum 8 characters with special characters, digits, letters, and uppercase and lowercase letters
        if (password.length < 8 || !specialCharacterRegex.test(password) || !digitRegex.test(password) ||
            !uppercaseRegex.test(password) || !lowercaseRegex.test(password)) {
            showError('passwordError', "Password should have minimum 8 characters with special characters, digits, letters, and at least one uppercase and one lowercase letter.");
            return false;
        }

        // Check if passwords match
        if (password !== confirm_password) {
            showError('confirmPasswordError', "Passwords do not match.");
            return false;
        }

        // If all validations pass, submit the form
        return true;
    }

    function showError(elementId, errorMessage) {
        // Display error message below the input field
        document.getElementById(elementId).innerHTML = errorMessage;
    }

    function clearError(elementId) {
        // Clear error message
        document.getElementById(elementId).innerHTML = "";
    }
</script>

{% endblock %}
