{% extends 'base.html' %}
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include 'includes/userdashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Change Your Password</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <form action=" {% url 'userprofile_changePassword' %} " method="POST" >
                          {% csrf_token %}
                          
                          <div class="form-group">
                            <label for="">Current Password</label>
                            <input type="password" name="current_password" placeholder="Current password" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="">Create new password</label>
                            <input type="password" name="new_password" placeholder="Create new password" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="">Confirm password</label>
                            <input type="password" name="confirm_password" placeholder="Confirm password" class="form-control">
                          </div>
                          <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    
    
{% endblock %}