{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="swiper-container">
                            <div class="swiper-wrapper custom-swiper-container" id="swiperWrapper">
                                <!-- images display here -->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Navigation -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <!-- img-big-wrap.// -->

                    </article>
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <form id="product-detail-form" action="{% url 'add_cart' 0 %}" method="POST">
                        {% csrf_token %}
                        <article class="content-body">

                            <h2 class="title" id="product-name"></h2>

                            <div class="mb-3">
                                <var class="price h4" id="product-price"> </var>
                            </div>

                            <p  id="product-description"></p>

                            <hr>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Choose Color</h6>
                                    <select name="color" id="colorDropdown"  class="form-control" required>
                                        
                                        
                                    </select>
                                </div>
                            </div>
                            <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select RAM </h6>
                                    <select name="ram" id="ramDropdown" class="form-control" required>
                                        
                                        
                                    </select>
                                </div>
                            </div>
                            <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Storage</h6>
                                    <select name="storage" id="storageDropdown" class="form-control" required>
                                        
                                        
                                    </select>
                                </div>
                            </div>
                            <!-- row.// -->
                            <hr>
                            {% if selected_variant.stock <= 0 %}
                                <h5 class="text-danger">Out of stock </h5>
                            {% else %}
                                <button type="submit" class="btn btn-primary">
                                    <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>
                                </button>
                            {% endif %}
                        </article>
                        <!-- product-info-aside .// -->
                    </form>
                </main>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>

        <div class="row">
            <div class="col-md-9">

                <header class="section-heading">
                    <h3>Customer Reviews </h3>
                </header>

                <article class="box mb-3">
                    <div class="icontext w-100">
                        <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right">24.04.2020 </span>
                            <h6 class="mb-1">Mike John </h6>

                        </div>
                    </div>
                    <!-- icontext.// -->
                    <div class="mt-3">
                        <p>
                            Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </div>
                </article>

            </div>
            <!-- col.// -->
        </div>
        <!-- row.// -->

    </div>
    <!-- container .//  -->
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    // Extract initial values from the URL
    var urlPath = window.location.pathname;
    var urlParts = urlPath.split('/').filter(Boolean);
    var initialVariantID = urlParts[urlParts.length - 1];
    var initialRam = urlParts[urlParts.length - 2];
    var initialColor = urlParts[urlParts.length - 3];

    console.log("Initial Color:", initialColor);
    console.log("Initial RAM:", initialRam);
    console.log("Initial Storage:", initialStorage);

        getProductDetails(initialVariantID);

});

$('#colorDropdown').change(function () {
    console.log('DROP')
        var selectedColor = $(this).val();    
        var selectedRam = $('select[name="ram"]').val();
        var selectedStorage = $('select[name="storage"]').val();
        console.log(selectedColor,selectedRam,selectedStorage)
        // Update product details based on selected options
        getsecondProductDetails(selectedColor, selectedRam, selectedStorage)
        updateProductDetails(selectedColor, selectedRam, selectedStorage);
    });

    $('#ramDropdown').change(function () {
    console.log('DROP')
        var selectedRam = $(this).val();
        var selectedColor = $('select[name="color"]').val();
        var selectedStorage = $('select[name="storage"]').val();
        console.log(selectedColor,selectedRam,selectedStorage)

        getsecondProductDetails(selectedColor, selectedRam, selectedStorage)
        // Update product details based on selected options
        updateProductDetails(selectedColor, selectedRam, selectedStorage);
    });

    $('#storageDropdown').change(function () {
    console.log('DROP')
        var selectedStorage = $(this).val(); 
        var selectedRam = $('select[name="ram"]').val();
        var selectedColor = $('select[name="color"]').val();
        console.log(selectedColor,selectedRam,selectedStorage)
        // Update product details based on selected options
        updateProductDetails(selectedColor, selectedRam, selectedStorage);
    });


function getsecondProductDetails(color, ram, storage) {
    $.ajax({
        url: '/api/product-details/',
        method: 'GET',
        data: { color: color, ram: ram, storage: storage},
        success: function (data) {
            // Extract color, RAM, storage from the data
            var colorDropdown = $('#colorDropdown');
            var ramDropdown = $('#ramDropdown');
            var storageDropdown = $('#storageDropdown');

            // Update dropdown options
            updateDropdownOptions(colorDropdown, data.colors, data.selected_color);
            updateDropdownOptions(ramDropdown, data.rams, data.selected_ram);
            updateDropdownOptions(storageDropdown, data.storages, data.selected_storage);

            // Update product details on the page
            $('#product-name').text(data.product_name);
            $('#product-description').text(data.description);
            $('#product-price').text('₹' + data.price);

            updateSwiperGallery(data.images);

            // Display the selected color, RAM, and storage
            $('#selected-color').text(data.selected_color);
            $('#selected-ram').text(data.selected_ram);
            $('#selected-storage').text(data.selected_storage);

            $('#product-detail-form').attr('action', "{% url 'add_cart' 0 %}".replace('0', data.currentid));
        },
        error: function () {
            console.error('Error fetching product details.');
        }
    });
}


// Fetch details for the product
function getProductDetails(variantId) {
    $.ajax({
        url: "{% url 'get_variant_details' %}",
        method: 'GET',
        data: {variant_id: variantId },
        success: function (data) {
            // Extract color, RAM, storage from the data
            var colorDropdown = $('#colorDropdown');
            var ramDropdown = $('#ramDropdown');
            var storageDropdown = $('#storageDropdown');

            // Update dropdown options
            updateDropdownOptions(colorDropdown, data.colors, data.selected_color);
            updateDropdownOptions(ramDropdown, data.rams, data.selected_ram);
            updateDropdownOptions(storageDropdown, data.storages, data.selected_storage);
            // Update product details on the page
            $('#product-name').text(data.product_name);
            $('#product-description').text(data.description);
            $('#product-price').text('₹' + data.price);
            updateSwiperGallery(data.images);
            
            $('#product-detail-form').attr('action', "{% url 'add_cart' 0 %}".replace('0', data.currentid));
        },
        error: function () {
            console.error('Error fetching product details.');
        }
    });
}


    function updateProductDetails(color, ram, storage, variantId) {
        // Check if all required values are present
        if (color && ram && storage &&  variantId) {
            $.ajax({
                url: '/api/product-details/',
                method: 'GET',
                data: { color: color, ram: ram, storage: storage, variant_id: initialVariantID },
                success: function (data) {
                    $('#product-name').text(data.product_name);
                    $('#product-description').text(data.description);
                    $('#product-price').text('₹' + data.price);

                    updateDropdownOptions('color', data.colors, data.selected_color);
                    updateDropdownOptions('ram', data.rams, data.selected_ram);
                    updateDropdownOptions('storage', data.storages, data.selected_storage);

                    // Display the selected color, RAM, and storage
                    $('#selected-color').text(data.selected_color);
                    $('#selected-ram').text(data.selected_ram);
                    $('#selected-storage').text(data.selected_storage);
                },
            });
        } else {
            console.warn('Color, RAM, or Storage is missing. Skipping AJAX request.');
        }
    }
    function updateDropdownOptions(dropdown, options, selectedOption) {
            dropdown.empty();
            var uniqueOptions = new Set(options);

            uniqueOptions.forEach(function (option) {
                dropdown.append($('<option>', {
                    value: option,
                    text: option.charAt(0).toUpperCase() + option.slice(1)
                }));
            });
            dropdown.val(selectedOption);
        }

        $('select[name="color"], select[name="ram"], select[name="storage"]').change(function () {
            var selectedColor = $('select[name="color"]').val();
            var selectedRam = $('select[name="ram"]').val();
            var selectedStorage = $('select[name="storage"]').val();

            updateProductDetails(selectedColor, selectedRam, selectedStorage);
    });

        var initialColor = $('select[name="color"]').val();
        var initialRam = $('select[name="ram"]').val();
        var initialStorage = $('select[name="storage"]').val();
        updateProductDetails(initialColor, initialRam, initialStorage, ); 

    // function for image displaying
    function updateSwiperGallery(images) {
    var swiperWrapper = $('.swiper-wrapper');
    swiperWrapper.empty();

    images.forEach(function (image) {
        swiperWrapper.append('<div class="swiper-slide"><img src="' + image.image_url_1 + '" alt="Image 1" class="img-fluid"></div>');
        
    });
    
}

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            on: {
                slideChangeTransitionStart: function () {
                    // Reset opacity for all slides
                    $('.swiper-slide').css('opacity', 0);
                },
                slideChangeTransitionEnd: function () {
                    // Show the active slide
                    $('.swiper-slide-active').css('opacity', 1);
                },
            },
        });
    // document.addEventListener("DOMContentLoaded", function () {
    //     var swiper = new Swiper('.swiper-container', {
    //         slidesPerView: 1,
    //         spaceBetween: 10,
    //         navigation: {
    //             nextEl: '.swiper-button-next',
    //             prevEl: '.swiper-button-prev',
    //         },
    //         pagination: {
    //             el: '.swiper-pagination',
    //             clickable: true,
    //         },
    //         on: {
    //             slideChangeTransitionStart: function () {
    //                 // Reset opacity for all slides
    //                 $('.swiper-slide').css('opacity', 0);
    //             },
    //             slideChangeTransitionEnd: function () {
    //                 // Show the active slide
    //                 $('.swiper-slide-active').css('opacity', 1);
    //             },
    //         },
    //     });

        

        
    // });
</script>

<style>
    .swiper-container {
        overflow: hidden;
    }

    .swiper-slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .swiper-slide-active {
        opacity: 1;
    }
</style>

{% endblock %}