{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<style>
    .card-product-grid .info-wrap {
        height: 220px; 
        overflow: hidden; 
    }
</style>
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
        <h2 class="title-page">Search Results</h2>
        {% else %}
        <h2 class="title-page">Your WishList</h2>
        {% endif %}
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" >
                <div class="card-body">
                    
                    <ul class="list-menu">
                        <li><a href=" {% url 'store-product-view' %} ">All Categories </a></li>
                        {% for category in links %}
                    <li><a href=" {{ category.get_url }} ">{{ category.category_name }}  </a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            
            
        </article> <!-- filter-group .// -->
        
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" >
                <div class="card-body">
                    
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                      <!-- <input class="form-control" placeholder="$0" type="number"> -->
                          <select class="mr-2 form-control">
                            <option value="0">$0</option>
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                            <option value="150">$150</option>
                            <option value="200">$200</option>
                            <option value="500">$500</option>
                            <option value="1000">$1000</option>
                        </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                          <select class="mr-2 form-control">
                            <option value="50">$50</option>
                            <option value="100">$100</option>
                            <option value="150">$150</option>
                            <option value="200">$200</option>
                            <option value="500">$500</option>
                            <option value="1000">$1000</option>
                            <option value="2000">$2000+</option>
                        </select>
                    </div>
                    </div> <!-- form-row.// -->
                    <button class="btn btn-block btn-primary">Apply</button>
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">Found <b> {{ variations_count }} </b>Items </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if variations %}
        {% for variation in variations %}
        
        <div class="col-6 col-md-4">
            <div class="card card-product-grid">
                {% if variation.variantID.images.exists %}
                <a href="{% url 'product_detail' variation.variantID.product.category.slug variation.variantID.product.slug variation.variantID_id %} " class="img-wrap"> <img src="{{ variation.variantID.images.first.image.url }}"> 
                </a>
                {% endif %}
                <figcaption class="info-wrap">
                <a href="{% url 'product_detail' variation.variantID.product.category.slug variation.variantID.product.slug variation.variantID_id %}" class="title">{{ variation.variantID.product.product_name }}</a>
                <small>{{variation.variantID.product.category}}</small>
                    <div class="price mt-1">₹{{ variation.variantID.price }}</div> <!-- price-wrap.// -->
                    <p>Different varients available</p>
                    <div>
                        {% for offer in category_offer %}
                            {% if offer.category == variation.variantID.product.category %}
                                <p class="text-success">{{ offer.discount_rate |floatformat:"0" }}₹ category discount available</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        {% for offer in product_offer %}
                            {% if offer.products == variation.variantID.product %}
                                <p class="text-success">{{ offer.discount_rate |floatformat:"0" }}₹ product discount available</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </figcaption>
                <form method="POST" action="{% url 'add_cart'  variant_id=variation.variantID_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ variation.product | capfirst }}">
                    <input type="hidden" name="brand_name" value="{{ variation.variantID.brand_name | capfirst }}">
                    <input type="hidden" name="color" value="{{ variation.variantID.color | capfirst }}">
                    <input type="hidden" name="ram" value="{{ variation.variantID.ram | capfirst }}">
                    <input type="hidden" name="storage" value="{{ variation.variantID.storage | capfirst }}">
                    <input type="hidden" name="price" value="{{ variation.variantID.price | capfirst }}">
                    <input type="hidden" name="stock" value="{{ variation.variantID.stock | capfirst }}">
                    <input type="hidden" name="description" value="{{ variation.variantID.description | capfirst }}">
                    <input type="hidden" name="is_active" value="{{ variation.variantID.is_active | capfirst }}">
                    <button class="btn btn-block btn-primary" type="submit">Add to cart</button>
                </form>
                
                <a href="{% url 'remove_wishlist'  variation.variantID.id %}" class="btn btn-block btn-danger">Remove </a>
            </div>
        </div> <!-- col.// -->
        {% endfor %}
        {% else %}
        <div>
            <h2 >You haven't added any wishlist items yet.</h2>
        </div>
        {% endif %}
    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
        {% if variations.has_other_pages %}
      <ul class="pagination">
        {% if variations.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{variations.previous_page_number}}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in variations.paginator.page_range %}
            {% if variations.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
                <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        {% if variations.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{variations.next_page_number}}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
        {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>

{% endblock %}