{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/laptop-banner.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store-product-view' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for variation in variations %}
                <div class="col-6 col-md-4">
                    <div class="card card-product-grid">
                        {% if variation.images.exists %}
                            <a href="{% url 'product_detail' variation.product.category.slug variation.product.slug variation.id %}" class="img-wrap">
                                <img src="{{ variation.images.first.image.url }}" class="img-fluid">
                            </a>
                        {% endif %}
                        <figcaption class="info-wrap">
                            <a href="{% url 'product_detail' variation.product.category.slug variation.product.slug variation.id %}" class="title">{{ variation.product.product_name }}</a>
                            <small>{{variation.product.category}}</small>
                            <div class="price mt-1">₹{{ variation.price }}</div>
                            <p>{{ variation.description }}</p>
                            <div>
                                {% for offer in category_offer %}
                                    {% if offer.category == variation.product.category %}
                                        <p class="text-success">{{ offer.discount_rate |floatformat:"0" }}₹ category discount available</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                {% for offer in product_offer %}
                                    {% if offer.products == variation.product %}
                                        <p class="text-success">{{ offer.discount_rate |floatformat:"0" }}₹ product discount available</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            {% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->





</body>
</html>
{% endblock %}