asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.2
django-multiupload==0.6.1
django-phonenumber-field==7.3.0
idna==3.6
phonenumbers==8.13.31
pillow==10.2.0
psycopg==3.1.18
python-decouple==3.8
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.1